/* src/index.scss */

/* === Variables === */
$primary: #646cff;
$text: #222;
$bg: #ffffff;

/* === Racine / reset léger === */
:root {
  color-scheme: light; // force le thème clair
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: $text;
  background-color: $bg;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-shell {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  padding-bottom: 0 !important;
}

/* 2) Le contenu occupe l'espace restant */
.app-shell > main {
  flex: 1;
}

body {
  margin-left: 20px;
  margin-right: 20px;
  min-width: 320px; 
}

/* === Liens === */
a {
  font-weight: 500;
  color: $primary;
  text-decoration: inherit;

  &:hover {
    // léger assombrissement
    color: darken($primary, 7%);
  }
}

/* === Titres === */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* === Boutons === */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: $primary;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

